body {
  background-color: #99f3bd;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
H1{
  color: #ff4b5c;
}
H3{
  color: #ff4b5c;

}
